geojson
gpxpy
fastkml
pip install numpy==1.25.2
pip install librosa
pip install pandas
pip install matplotlib
pip install seaborn
pip install tensorflow==2.14
pip install tensorflow_hub
pip install mosqito
pip install soundscapy
pip install scikit-learn
