# Entornos virtuales
entorno/
entorno310/
entorno_sound/

# Modelos descargados
models/
*.pb

# Archivos pesados de audio
*.wav
*.mp3
recordings/

# Resultados generados
results/
*.csv
*.png
*.jpg

# Archivos temporales macOS
.DS_Store

# Cachés
__pycache__/
*.pyc
.ipynb_checkpoints/

# Carpetas de VSCode
.vscode/
